{% extends 'base.html' %}

{% block main %}
<br>
<div class="row">
    <div class="col-sm">
        <a href="{% url 'home' %}" class="btn btn-dark">Voltar para página inicial</a>
        <a href="{% url 'create_funcionarios' %}" class="btn btn-dark">Novo funcionário</a>
    </div>
</div>
<br>
    Lista de funcionários da empresa
<br>
<ul>
    <li>
        {% for funcionario in object_list %}
        <a href="{% url 'update_funcionarios' funcionario.id %}">
            {{ funcionario }} </a> |
        <a href="{% url 'delete_funcionarios' funcionario.id %}">
            Deletar funcinário
        </a>
    </li>
</ul>

    {% endfor %}
<br>


{% endblock %}