{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% load bootstrap %}
{% block main %}
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'list_departamentos' %}">Gerenciar Funcionarios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'list_departamentos' %}">Gerenciar Departamentos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'list_hora_extra' %}">Gerenciar Banco de Horas</a>
            </li>
            {% if usuario.funcionario.empresa %}
            <li class="nav-item">
                <a class="nav-link"
                   href="{% url 'edit_empresa' usuario.funcionario.empresa.id %}">Editar empresa</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'create_empresa' %}">Criar Empresa</a>
            </li>
            {% endif%}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light bg-dark ">Ola, {{ usuario.funcionario.nome }}.</a>
            </li>
        </ul>
    </div>
</nav>

{% endblock %}